.login-form{
	max-width: 500px;
	margin:  0 auto;
}

.btn_custom{
	display: block;
	margin:20px auto;
	width: 100%;
	max-width: 200px;
	height: 40px;
	font-size: 16px;
	line-height: 28px;
	user-select: none;
}
.btn_custom:focus{
	background: transparent;
}

.form_title{
	text-align: center;
	margin-bottom: 50px;
}

.login-form textarea{
	width: 100%;
	border-radius: 4px;
	resize: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	color: #555;
	font-size: 14px;
}

.login-form textarea:focus{
	border-color: #1b5a7c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(24, 204, 162, 0.6);
    outline: 0 none;
}
.alert{
	display: inline-block;
	position: relative;
	z-index: 999;
	left: 0px;
	top: 0px;
	border: none
}
.innerWrapper{
	padding-top:100px;
}
.alert-info{
    background: #63d8f1;
	color: #fff;
}

.alert-danger{
	background: #ff0000;;
	color: #fff;
}

.alert-success{
	background: #a1e82c;
	color: #fff;
}

.alert-warning{
	background: #FD871F;
	color: #fff;
}

.sidebar-wrapper{
	background: #080808 !important;
}

.nav .navbar-right li a{
	cursor: pointer;
}

.navbar-nav{
	margin: 0px -14px;
}

.form-group.sign-btn{
	text-align: center;
}

.page-header{
	text-align: center;
}

.customNavbar{
	position: absolute;
	top:0px;
	/*left:50%;*/
	/*transform: translate(-50%);*/
	width:100%;
	z-index:9999;
	margin-bottom: 0px;
	background: transparent;
	/*border: none;*/
	border-radius: 0px;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}
.customNavbar li a{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding: 30px 20px;
	transition: color 0.3s ease;
}
.customNavbar li a:hover{
	color: #ff0000;
	background: transparent;
}
.customNavbar li a:focus{
	background: transparent;
}
.navbar-brand{
	padding:29px 30px;
}

.login-form .input-group .input-group-addon .glyphicon{
	color: #ddd
}
.navbar-toggle.collapsed{
	background: #fff;
}
.navbar-toggle.collapsed span{
	background: #333;
}
.signup.signup_link, .signup{
	color: #fff;
	text-decoration: underline !important;
}
.login .sign-btn input.btn{
	display: block;
	margin:20px auto;
	width: 100%;
	max-width: 200px;
	height: 44px;
	font-size: 16px;
	line-height: 28px;
	background: transparent;
	border: 1px solid #fff
}
.page-header h2{
	color: #fff;
}
.form_title{
	color: #fff;
}
.login .sign-btn input.btn:hover{
	background: transparent;
	border: 1px solid #fff;
	background: rgba(255,255,255,0.4);
}
.form-group input{
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	height: 44px;
}
.form-group textarea{
	background: transparent;
	border: 1px solid #fff;
	color: #fff
}
.form-group input::-webkit-input-placeholder {color:#fff;}
.form-group input::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.form-group input:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.form-group input:-ms-input-placeholder      {color:#fff;}

.form-group textarea::-webkit-input-placeholder{
	color: #fff;
}
.btn_custom:hover{
	background: transparent;
	border: 1px solid #fff;
	background: rgba(255,255,255,0.4);
}


.btn_custom:active{
	background: transparent !important;
	border: 1px solid #fff
}

.form_wrapper{
	margin: 150px auto 0px;
    max-width: 320px;
}

.statistics{
	display: flex;
	justify-content: space-between;
}

.userContainer{
	flex-basis: 30%;
	margin:10px 15px;
	background: #63d8f1;
	min-height: 200px;
	position: relative;
}
.userContainer span{
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 26px;
	color: #fff;
}

.userResult{
	position: absolute;
	bottom: 40px;
	left: 40px;
	font-size: 50px;
	color: #fff;
	font-weight:bolder;
}

.login-screen{
	background: url(../images/02.jpg)
}

.mainWrapper{
	background: url(../images/01.jpg);
	height: 100vh;
}

.jumbotron{
	background: none;
	color: #fff
}

@media(max-width: 768px){
	.nav.navbar-nav.navbar-left{
		display: none;
	}
	.nav.navbar-nav li{
		text-align: center;
	}
	.statistics{
		flex-wrap: wrap;
}
	.userContainer{
		flex-basis: 100%;
	}
	.navbar li a{
		padding: 10px 20px;
		color: #333
	}
	.navbar-brand {
		padding: 15px 30px;
	}
	.customNavbar{
		background: #fff
	}
}



